.bg-img {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.bg-img-health {
    background: url('/Health/IMG_1865.JPG');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.bg-img-ecology {
    background: url('/Agriculture\ and\ livelihood/IMG_13.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img-disaster {
    background: url('/home/disaster.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img-livelihood {
    background: url('/home/livelihood.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img-women {
    background: url('/home/women.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img-climate {
    background: url('/home/climate.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-img-health::after,
.bg-img-ecology::after,
.bg-img-disaster:after,
.bg-img-livelihood:after,
.bg-img-women:after,
.bg-img-climate::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0B0706;
    border-radius: 20px;
    opacity: 0.5;
    background-position: center;
    background-repeat: no-repeat;

}